@login-form-w: 500px;
@login-form-h: 310px;


.login-main{
    background-color: #f0ebf699;
    height: 100vh;
    form{
        width: @login-form-w;
        height: @login-form-h;
        margin: 0 auto;
        background: white;
        padding: 20px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: calc(-@login-form-h/2);
        margin-left: calc(-@login-form-w/2);
        border-radius: 4px;
        box-shadow: 1px 1px 4px #65626f;
    }
}